# * text=auto
# text
*.vue              text eol=lf
*.js               text eol=lf
*.cjs              text eol=lf
*.ts               text eol=lf
*.tsx              text eol=lf
*.css              text eol=lf
*.less             text eol=lf
*.scss             text eol=lf
*.html             text eol=lf
*.md               text eol=lf
*.json             text eol=lf
*.xml             text eol=lf

# -text
*.png              -text
*.jpg              -text
*.jpeg             -text
*.pdf              -text
*.svg              -text